<!DOCTYPE html>
<html>
<head></head>
<body>

<div class="h1-2">
    TRAVELO
    <hr>
</div>

<div class="h2-2">
    Sign up for free to start connecting!
</div>

<div class="center">
    <a href='/auth/facebook' class="btn-facebook"> SIGN UP WITH FACEBOOK</a>
</div>

<p> or </p>
<p> Sign up with your email address </p>
<br>
<%= form_for(@user) do |f| %>

  <ul>
    <% @user.errors.full_messages.each do |error_message| %>
      
      <li><%= error_message %></li>
          
    <% end %>
    <%# this code can be turned into a partial  %>
  </ul>

    <% if flash[:notice] %>
        <div class="notice">
            <h2><%= flash[:notice]%></h2>
        </div>
    <%end%>
  
    <div class="field" class="field_with_errors">
      <p>
        <%= f.label :full_name, "What's your name?"%><br>
        <%= f.text_field :full_name, 
          placeholder: "Enter your name.", 
          :required => true, 
          class: "form-control"
        %>
      </p>
    </div>
    <div class="field" class="field_with_errors">
      <p>
        <%= f.label :email, "What's your email?"%><br>
        <%= f.email_field :email, 
          placeholder: "Enter your email.", 
          :required => true, 
          class: "form-control"
        %>
      </p>
    </div>
    <div class="field" class="field_with_errors">
      <p>
       <%= f.label :password, "Create a password"%><br>
       <%= f.password_field :password, 
          placeholder: "Create a password.", 
          :required => true, 
          class: "form-control"
        %>
      </p>
    </div>
    <div class="field" class="field_with_errors">
      <p>
       <%= f.label :password_confirmation, "Confirm your password"%><br>
       <%= f.password_field :password_confirmation, 
          placeholder: "Enter your password again.", 
          :required => true, 
          class: "form-control"
        %>
      </p>
    </div>
    <div class="field" class="field_with_errors">
      <p>
        <%= f.label :username, "What should we call you?"%><br/>
        <%= f.text_field :username, 
          placeholder: "Enter a profile name.", 
          :required => true, 
          class: "form-control"
        %>
      </p>
    </div>
    
    <br>
    <div class="actions">
      <%= f.submit "SIGN UP", 
        :required => true, 
        class: "btn btn-primary" 
      %>
    </div>
  <% end %>

<p> Have an account? <%= link_to "Login.", login_path %> </p>

</body>
</html>
