
<%= form_for(@post) do |f| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group" class="field_with_errors" class="center">
      <%= f.label :content, "Make a post!"%><br/>
      <%= f.text_area :content, 
      placeholder: "Tell us something about your travels!", 
      :required => true, 
      #note that :required => true works in form_for validations, but does not 
      #prevent hacking in the front-end.  The validations in the model is 
      #important to prevent this. 
      class: "form"%>
    </div>

    <div class="form-group" class="field" class="field_with_errors">
        <%= f.fields_for :location do |l| %>
          <%= l.label :location_name, "Where are you located?" %><br/>
          <%= l.text_field :location_name, 
            placeholder: "Where are you located?",
            prompt: true, 
            :required => true, 
            class: "form-control" %>
        <% end %>
    </div>
    
    <div class="actions">
      <%= f.submit "POST", class: "btn-new" %>
    </div>
  
  <% end %>