
<%= form_for(@post) do |f| %>

    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="form-group" class="fields_with_errors" class="center">
      <%= f.label :content, "Make a post!"%><br/>
      <%= f.text_area :content, 
      placeholder: "Tell us something about your travels!", 
      :required => true, 
      #note that :required => true works in form_for validations, but does not 
      #prevent hacking in the front-end.  The validations in the model is 
      #important to prevent this. 
      class: "form"%>
    </div>

    <div class="field" class="fields_with_errors">
      <p>
          <%= f.label :location_name, "Where are you located?" %><br/>
          <%= f.text_field :location_name, 
            placeholder: "Where are you located?",
            prompt: true, 
            :required => true, 
            class: "form-control"
          %>
      </p>
    </div>
    
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  
  <% end %>