<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field">
      <%= f.label :content, "Make a post!"%><br>
      <%= f.text_area :content, placeholder: "Tell us something about your travel experience at your location!", class: "form-control"%>
    </div>
    
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>