#partial
<%= form_for(@post) do |f| %>
    <% if @post.errors.any? %>
      <div id="error_explanation">
        <ul>
          <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  
    <div class="field" class="fields_with_errors>
      <%= f.label :content, "Make a post!"%><br>
      <%= f.text_area :content, 
      placeholder: "Tell us something about your travel experience at your location!", 
      :required => true, 
      class: "form-control"%>
    </div>

    <div class="field" class="fields_with_errors">
      <p>
        <%= f.label :location, "Where are you located?" %><br/>
        <%= f.collection_select :location_id, 
          Location.all, 
          :id, 
          :location_name,
          prompt: true, 
          :required => true, 
          class: "form-control"
        %>
    
    <div class="actions">
      <%= f.submit "Post", class: "btn btn-primary" %>
    </div>
  <% end %>