
<div class="container">
<header></header>
<main>
  <div class="intro">
      <% if session[:user_id] %>
          <div>
          You are logged in as: <%= current_user.username %>
          </div>
      <%end%>

      <h1> Welcome, <%= current_user.full_name %>!<br/></h1>
      <h2>Here are all of your posts.</h2> 
  </div>

  <div><a href='/posts/new'>Create Post</a></div>
<br />

<table>
  <thead>
    <tr>
      <th><%= current_user.username %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.content %></td>
        <td>
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

 #insert comment link here 

</main>
</div>