
<div class="container">
  <header></header>
  <main>
    <div class="intro">
        <% if session[:current_user_id] %>
            <div>
            You are logged in as: <%= @current_user.username %>
            </div>
        <%end%>

        <h1> Welcome, <%= @current_user %>!<br/></h1>
        <h2>Welcome to your feed!</h2> 
    </div>

    <%= form_for(@post) do |f| %>
        <% if @post.errors.any? %>
          <div id="error_explanation">
            <h2>There were some errors:</h2>
      
            <ul>
              <% @post.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
      
        <div class="field">
          <%= f.label :content, "Make a post!"%><br>
          <%= f.text_field :content, placeholder: "Tell us something about your travel experience at your location!", class: "form-control"%>
        </div>
        
        <div class="actions">
          <%= f.submit "Post", class: "btn btn-primary" %>
        </div>
      <% end %>

    <%= form_tag('/posts') do %>
        <% if @post.errors.any? %>
            <div id="error_explanation">
                <p> Post must be 50-200 words. </p>
            
                <ul>
                    <%= @post.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <%end%>
                </ul>
            </div>
        <%end%>
    <%end%>

    <div class="form">
        <%= form_for @post do |f| %>
            <div class="form-group" class="field<%= field_with_errors if @post.errors[:content].any?%>">
                <%= f.label :content, "Make a post!"%>
                <br/>
                <%= f.text_field :content, placeholder: "Tell us something about your travel experience at your location!", class: "form-control" %>
            </div>

            <div class="actions">
                <br/>
                <%= f.submit "Post", class: "btn btn-primary" %>
            </div>
        <%end%>
    </div>

    <div class="facebook-data">
        <% if session[:user_id] %>
            <h1><%= @user.name %></h1>
            <h2>Email: <%= @user.email %></h2>
            <h2>Facebook UID: <%= @user.uid %></h2>
            <img src="<%= @user.image %>">
        <% else %>
            <%= link_to('Log in with Facebook!', '/auth/facebook') %>
        <% end %>
    </div>

  </main>
</div>

