<div class="container">
<header></header>
<main>
  <div class="intro">
      <% if session[:user_id] %>
          <div>
          You are logged in as: <%= current_user.username %>
          </div>
      <%end%>

      <h1> Welcome, <%= current_user.full_name %>!<br/></h1>
      <h2>Here is are all of the posts associated with your location.</h2> 
  </div>

  <div><%= link_to 'Create Post', welcome_path %></div>
<br />

<table>
  <thead>
    <tr>
      <th><%= User.username %></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.location.each do |song| %>
      <tr>
        <td><%= post.content %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</main>
</div>