<div class="container">
<header></header>
<main>
  <div class="main-header">
    <h2 class="h2-main">Select a location... <%= current_user.username %>.</h2>

    <%= form_tag("/locations", method: "get") do %>
      <%= label_tag(:location_name, "Search for location:") %>
      <%= search_field_tag(:location_name) %>
      <%= submit_tag("Search") %>
    <% end %> 

    <ul class="locations">
      <%@locations.each do |location|%> 
        <ul>
          <div class="locations-btn">
          📍 <%= link_to location.location_name, location_path(location)%>
          </div>
        </ul>
        <% end %>
    </ul>

  <div class="btn-post">
    <a href='/posts/new'>CREATE NEW POST</a>
  </div>
  
  </div>

  <div class="actions btn btn2" id="posts">
    <a href='/posts'>Go back to all of your posts!</a>
  </div>

</main>
</div>