<div class="container">
<header></header>
<main>
  <div class="main-header">
      <h1 class="h1-main"> 
      <div id="greeting"> Welcome to </div> 
      <script type = "text/javascript" >
            var greeting = document.getElementById("greeting");
            var currentPos = 0;
            var greetings = ["Welcome to", "आपका स्वागत है", "欢迎来到", "오신 것을 환영합니다", "مرحبا بكم في", "Bienvenidos a", "добро пожаловать в", "ยินดีต้อนรับสู่", "Welkom by", "Bienvenue à"]

            function loopGreeting() {
              var currentGreeting = greetings[currentPos%greetings.length]
              greeting.innerHTML = currentGreeting
              currentPos++  
            }

            setInterval(loopGreeting, 1500);
        </script> 
      <%= @location.location_name %><br/></h1>
      <h2 class="h2-main">Check out these posts about <%= @location.location_name %></h2> 
  </div>

<div class="body">
<table>
<%# this code is showing all of the posts  %>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
          <td class="post">
            <div class="user">
              <%=post.user.username %>
            </div>
             <div class="content">
              <%= post.content %>
            </div>
            <div class="comment">
            <%= link_to "Comment", new_comment_path(post) %>
            </div>
          </td>  
      </tr>
    <% end %>
  </tbody>
</table>

<div class="btn-post"><%= link_to 'CREATE POST', new_post_path %></div>

  <div class="actions btn btn2" id="posts">
    <a href='/locations'>Go back to all of the locations!</a>
  </div>

</div>


</main>
</div>