<!DOCTYPE html>
<html>
  <head>
    <title>Travelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <% if session[:current_user_id] %>
      <div>
        You are logged in as: <%= @current_user.username %>
      </div>
    <%end%>

    <header class='clearfix'>
      <div class="left-nav">
        <ul>
          <li><%= link_to "TRAVELO", home_path %></li>
        </ul>
      </div>

      <div class="right-nav">
        <ul>
          <li><%= link_to 'Logout', logout_path %></li>
        </ul>
      </div>

      <div class="right-nav">
        <ul>
          <li><%= link_to 'Login', login_path %></li>
        </ul>
      </div>

      <div class="right-nav">
        <ul>
          <li><%= link_to 'Signup', signup_path %></li>
        </ul>
      </div>  
 
    </header>

    <div class='content'>
      <%= yield %>
    </div>

    <footer>
      <div class="left">
        <p><a class="travelo-link" href='/home'>TRAVELO</a></p>
      </div>

      <div class="right">
        <p><a class="about-link" href='/about'>About</a></p>
     </div>
    </footer>

  </body>
</html>
