<!DOCTYPE html>
<html>
  <head>
    <title>Travelo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <header class='clearfix'>
      <div class="left-nav">
        <ul>
          <% if session[:user_id] %>
            <a href="users/profile">TRAVELO</a>
          <% else %>
            <li><%= link_to "TRAVELO", home_path %></li>
          <%end%>
        </ul>
      </div>
          
       <% if session[:user_id] %>
        <div class="right-nav">
          <ul>
            <li><%= link_to 'Logout', logout_path %></li>
          </ul>
        </div>
      <%end%>

       <% if session[:user_id] %>
        <div class="right-nav">
          <ul>
            <li> <a href='users/<%= current_user.id %>/edit'> Edit profile </a> 
            </li>
          </ul>
        </div>
      <%end%>

      <% if !session[:user_id] %>
        <div class="right-nav">
          <ul>
            <li><%= link_to 'Login', login_path %></li>
          </ul>
        </div>
      <%end%>

        <% if !session[:user_id] %>
        <div class="right-nav">
          <ul>
            <li><%= link_to 'Signup', signup_path %></li>
          </ul>
        </div>
      <%end%>
 
    </header>

      <%= yield %>
   
    <footer>

        <p class="left-footer" ><%= link_to "TRAVELO", home_path %></p>

        <p><a class="about-link" href='/about'>About</a></p>
    </footer>

  </body>
</html>
